.titleActu{
    color:#8c3e9d;
}

span.dateNews {
    color: #682576;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    font-family: "Oswald", Times, Georgia, serif;
    margin-right: 10px;
}


/*page de profil DEBUT*/

#compte .page-sidebar .inner-box {
    padding: 20px;
}
#compte .inner-box {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5);
    margin-bottom: 30px;
    padding: 20px 15px;
    color: #000;
}

#compte .collapse-box {
    margin-bottom: 15px;
}

#compte .collapse-title {
    border-top: 1px solid #e6e6e6;
    color: #2a3744;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

#compte .user-panel-sidebar ul li a.active {
    background-color: #631b71;
    color: #ffffff;
}

.user-panel-sidebar ul li a {
    background: #ffffff;
    display: block;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #2a3744;
    font-size: 12px;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding: 5px 10px;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#compte ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#compte img {
    max-width: 100%;
}

#compte .userImg {
    border: solid 1px #ddd;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    width: 64px;
}

#compte .welcome-msg {
    margin-bottom: 30px;
}

.faq .faq-body {
    padding-top: 30px!important;
}

#compte .blog-main .form-group input{
    height: 30px!important;
    padding-left: 10px!important;
}

#compte .cltreserve input{
    width: initial!important;
}

#compte .blog-post-content {
    padding-left: 40px;
    padding-right: 40px;
}
#compte .blog-article-text {
    color: #4e575d;
}
#compte .blog-article-text ul {
    margin-bottom: 30px;
}

#compte .blog-post-content-desc p {
    color: #4e575d;
    font-size: 14px;
}

#compte .list-dot {
    margin-left: 30px;
}

#compte ul.acc-list {
    padding: 5px;
}

.faq .panel {
    border: 0px solid;
    border-radius: 0px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 0 0 15px;
}

#compte .blog-main .form-group input {
    height: 35px!important;
    padding-left: 10px!important;
    width: 100%;
    border: 1px solid #ddd;
    transition: all 0.4s ease;
    font-weight: 400;
    border-radius: 0px;
}

#compte .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#compte button[type="submit"] {
    width: 35%;
    vertical-align: bottom;
    padding: 14px 0px 13px 0px;
    border: 3px solid #682576;
    border-radius: 30px;
    background: transparent;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: #682576;
    transition: all 0.3s;
}
#compte button[type="submit"]:hover {
    background: #682576;
    color: #ffffff;
}

.alert-brand-me{
    color: #ffffff;
    background-color: #631b71;
    border-color: #631b71;
    opacity: 1;
    margin: 5px 0;
    border: 1px solid transparent;
    padding: .85rem 1.5rem;
    font-size: 16px;
}

.alert-brand-me button{

}

.logoh-me{
    width:15%;
}
.link-logoh-me{
    float: left;width: 64%;
}

